@using Modele
@{
	IEnumerable<Mpandray>? liste_mpandray =(IEnumerable<Mpandray>?) ViewData["liste"] ;
	int pejy =(int) ViewData["page"]!;
}
<!doctype html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Lisitry ny mpandray - pejy @pejy</title>
	</head>
	<body>
		<table>
			<thead>
				<tr>
					<th>Numero</th>
					<th>Anarana & Fanampiny</th>
					<th>Adiresy</th>
					<th>Telephone</th>
				</tr>
			</thead>
			<tbody>
				@if(liste_mpandray!.Any())
				{
					@foreach(var item in liste_mpandray!)
					{
						<tr>
							<td><a href="/Home/Details?numero=@item.Numero">@item.Numero</a></td>
							<td>@item.Anarana	@item.Fanampiny</td>
							<td>@item.Fonenana	@item.Fokontany</td>
							@if (item.Tel != "0")
							{
								<td>@item.Tel</td>
							}
							else
							{
								<td>Aucun</td>
							}
						</tr>
					}
				}
		</tbody>
		</table>
		@pejy
	</body>
	<footer>

	</footer>
</html>
