@using Modele
@{
	IEnumerable<Mpandray>? liste_mpandray = (IEnumerable<Mpandray>?)ViewData["liste"];
	int pejy = (int)ViewData["page"]!;
	string query = (string)ViewData["query"]!;
	List<Tuple<int, string>> mois = Constante.mois;
	IHttpContextAccessor httpContextAccessor = (IHttpContextAccessor)ViewData["context"]!;
}
<!doctype html>
<html lang="fr">
<head>
	
	@if (httpContextAccessor.HttpContext!.Request.Query.Count == 0)
	{
		<title>Mpandray - Page @pejy</title>
	}
	else
	{
		<title>Resultats : "@httpContextAccessor.HttpContext.Request.Query["tosearch"]" - Page @pejy</title>
	}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="~/css/style.css">

	<link rel="stylesheet" href="~/css/search.css">

	<link rel="stylesheet" href="~/css/bootstrap.min.css"/>

</head>
<body>
	<div class="header">
		<div>
			<form action="/Home/ExportData" method="post">
				<div>
					<input type="date" name="debut" />
				</div>
				<div>
					<input type="date" name="fin" />
				</div>
				<button >Exporter</button>
			</form>
		</div>
		<div class="forms">
			<form class="searchForms" action="/Home/Search" method="get">
				<div>
					<input type="text" name="tosearch" /><button>Rechercher</button>
				</div>
			</form>
		</div>
	</div>
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
					<div class="table-wrap">
						<table class="table">
							<thead class="thead-primary">
								<tr>
									<th>Numero</th>
									<th>Anarana & Fanampiny</th>
									<th>Telephone</th>
									<th>Adidy</th>
									<th>IKT</th>
								</tr>
							</thead>
							<tbody>
								@if (liste_mpandray!.Any())
								{
									@foreach (var item in liste_mpandray!)
									{
										<tr>
											<th scope="row"><a href="/Home/Details/@item.Numero">@item.Numero</a></th>
											<td>@item.Anarana	@item.Fanampiny</td>
											@if (item.Tel != "0")
											{
												<td>@item.Tel</td>
											}
											else
											{
												<td>Aucun</td>
											}
											@if(item.PaiementAdidies?.OrderByDescending(c => c.AnneeFin).OrderByDescending(c => c.MoisFin)?.Select(c => new { mois = c.MoisFin })?.FirstOrDefault() != null)
											{
												<td>@(mois[(int) item.PaiementAdidies?.OrderByDescending(c => c.AnneeFin).OrderByDescending(c => c.MoisFin)?.Select(c => new { mois = c.MoisFin })?.FirstOrDefault()?.mois!-1].Item2)/@item.PaiementAdidies?.OrderByDescending(c => c.Dateheurepaiemet)?.Select(c => new { annee = c.AnneeFin })?.FirstOrDefault()?.annee</td>
											}
											else
											{
												<td></td>
											}
											@if(item.PaiementIsantaonas?.OrderByDescending(c => c.AnneeFin)?.Select(c => new { annee = c.AnneeFin })?.FirstOrDefault() != null)
											{
												<td>@item.PaiementIsantaonas?.OrderByDescending(c => c.AnneeFin)?.Select(c => new { annee = c.AnneeFin })?.FirstOrDefault()?.annee</td>
											}
											else
											{
												<td></td>
											}
										</tr>
									}
								}
								else
								{
									<tr>
										<td colspan="5">Tsy misy mpandray intsony</td>
									</tr>
									
								}
							</tbody>
						</table>
						<div>
							<div>
								@if(liste_mpandray!.Any() && liste_mpandray!.Count() == 20)
								{
									@if (httpContextAccessor.HttpContext!.Request.Query.Count == 0)
									{
										<div>
											<a href="/Home/MpandrayListe/@(pejy+1)">Suiv.</a>
										</div>
									}
									else
									{
										<div>
											<a href="/Home/Search?page=@(pejy+1)&tosearch=@httpContextAccessor.HttpContext.Request.Query["tosearch"]">Suiv.</a>
										</div>
									}
								}
								@if(pejy >1)
								{
									@if (httpContextAccessor.HttpContext!.Request.Query.Count == 0)
									{
										<div>
											<a href="/Home/MpandrayListe/@(pejy-1)">Prec.</a>
										</div>
									}
									else
									{
										<div>
											<a href="/Home/Search?page=@(pejy-1)&tosearch=@httpContextAccessor.HttpContext.Request.Query["tosearch"]">Prec.</a>
										</div>
									}
								}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


</body>
</html>

