@using Modele
@{
    Mpandray? details = (Mpandray?) ViewData["details"];
    IEnumerable<Tuple<int, string>> mois = Constante.mois;
}
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Details de mpandray</title>
    </head>
    <body>
        @if(details != null)
        {
            <div class="details">
                <div>Numero Mpandray : @details.Numero</div>
                <div>Anarana : @details.Anarana</div>
                <div>Fanampiny : @details.Fanampiny</div>
                <div>Fonenana : @details.Fonenana</div>
                <div>Fokontany : @details.Fokontany</div>
                <div>Numero Telephone : @details.Tel</div>
            </div>

            <div class="formulaire_modification" style="display :none">
                <form method="post" action="/Home/Details?numero=@details.Numero">
                    <div>
                        Numero Mpandray :
                        <input type="number" name="numero" value="@details.Numero" />
                    </div>
                    <div>
                        Anarana : 
                        <input type="text" name="anarana" value="@details.Anarana" />
                    </div>
                    <div>
                        Fanampiny :
                        <input type="text" name="fanampiny" value="@details.Fanampiny" />
                    </div>
                    <div>
                        Fonenana :
                        <input type="text" name="fonenana" value="@details.Fonenana" />
                    </div>
                    <div>
                        Fokontany :
                        <input type="text" name="fokontany" value="@details.Fokontany" />
                    </div>
                    <div>
                        Numero Telephone :
                        <input type="text" name="tel" value="@details.Tel" />
                    </div>
                    <button type="submit">Modifier</button>
                </form>
            </div>

            <div>
                <form>
                    <div>
                        <input type="number" name="numerompandray" />
                        <div>
                            <select name="moisdebut">
                                @foreach(var item in mois)
                                {
                                    <option value="@item.Item1">
                                        @item.Item2
                                    </option>
                                }
                            </select>
                        </div>
                        <input type="number" name="anneedebut"/>
                        <div>
                            <select name="moisfin">
                                @foreach (var item in mois)
                                {
                                    <option value="@item.Item1">
                                        @item.Item2
                                    </option>
                                }
                            </select>
                        </div>
                        <input type="number" name="anneefin" />
                        <input type="text" name="montant" />
                        <button>Ajouter</button>
                    </div>
                </form>
            </div>
            if (details.PaiementAdidies != null && details.PaiementAdidies.Any())
            {
                <table>
                    <thead>
                        <tr>
                            <th>Date Paiement</th>
                            <th>Mois/Annee debut</th>
                            <th>Mois/Annee fin</th>
                            <th>Montant</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in details.PaiementAdidies)
                        {
                            <tr>
                                <td>@item.Dateheurepaiemet</td>
                                <td>@item.MoisDebut/@item.AnneeDebut</td>
                                <td>@item.MoisFin/@item.AnneeFin</td>
                                <td>@item.Montant Ar</td>

                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div>Tsy mbola nandoa adidy ity mpandray ity</div>
            }

            if (details.PaiementIsantaonas != null && details.PaiementIsantaonas.Any())
            {
                <table>
                    <thead>
                        <tr>
                            <th>Date paiement</th>
                            <th>Annee debut</th>
                            <th>Annee fin</th>
                            <th>Montant</th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in details.PaiementIsantaonas)
                        {
                            <tr>
                                <td>@item.Dateheurepaiemet</td>
                                <td>@item.AnneeDebut</td>
                                <td>@item.AnneeFin</td>
                                <td>@item.Montant Ar</td>

                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div>Tsy mbola nandoa adidy ity mpandray ity</div>
            }
        }
        else
        {
            <div>Tsy misy io numerao mpandray io</div>
        }
</body>
</html>