@using Modele
@{
    Mpandray? details = (Mpandray?) ViewData["details"];
    IEnumerable<Tuple<int, string>> mois = Constante.mois;
    List<string> type_adidy = Constante.type_adidy;
}
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Details de @(details == null ?"(vide)" : details!.Anarana)</title>
        <link rel="stylesheet" href="~/css/MpandrayDetails.css" />
        <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    </head>
    <body>
        <div style="display:inline-block;">
            <a href="javascript:window.history.back();">Retour</a>
        </div>
        @if(details != null)
        {
            <div class="details" id="details">
                <div class="children"><strong>Numero</strong> : @details.Numero</div>
                <div class="children"><strong>Anarana</strong> : @details.Anarana</div>
                <div class="children"><strong>Fanampiny</strong> : @(string.IsNullOrEmpty(details.Fanampiny) ? "(vide)" : details.Fanampiny) </div>
                <div class="children"><strong>Fonenana</strong> : @(string.IsNullOrEmpty(details.Fonenana) ? "(vide)" : details.Fonenana)</div>
                <div class="children"><strong>Fokontany</strong> : @(string.IsNullOrEmpty(details.Fokontany) ? "(vide)" : details.Fokontany)</div>
                <div class="children"><strong>Telephone</strong> : @(string.IsNullOrEmpty(details.Tel) ? "(vide)" : details.Tel)</div>
                <div class="children"><button onclick="showModif()" class="modifier">Modifier</button></div>
            </div>

            <!--Start of cacher-->
            <div id="cacher" class="details" style="display :none">
                <form method="post" action="/Home/Details?numero=@details.Numero">
                    <div class="children">
                        Numero :
                        <input type="number" name="numero" value="@details.Numero" />
                    </div>
                    <div class="children">
                        Anarana : 
                        <input type="text" name="anarana" value="@details.Anarana" />
                    </div>
                    <div class="children">
                        Fanampiny :
                        <input type="text" name="fanampiny" value="@details.Fanampiny" placeholder="ex: Rasoa..." />
                    </div>
                    <div class="children"> 
                        Fonenana :
                        <input type="text" name="fonenana" value="@details.Fonenana" placeholder="ex: II N ...." />
                    </div>
                    <div class="children">
                        Fokontany :
                        <input type="text" name="fokontany" value="@details.Fokontany" placeholder="ex: Anjanahary..."/>
                    </div>
                    <div class="children">
                        Telephone :
                        <input type="text" name="tel" value="@details.Tel" placeholder="ex: 034......"/>
                    </div>
                    <div class="children">
                        <button type="submit" class="valider">Modifier</button>
                    </div>
                    <div class="children">
                        <button type="reset" class="annuler" onclick="hideModif()">Annuler</button>
                    </div>
                </form>
            </div>
            <!--End of cacher-->

            <!--Start of nouveau-->
            <div class="nouveau">
                <form action="/Home/AjoutPaiement" method="post">
                    <div>
                        <input type="hidden" name="numerompandray" value="@details.Numero" />
                        <div class="child">
                            <div>
                                Date de paiement
                            </div>
                            <div>
                                <input type="date" name="datepaiement" required />
                            </div>
                        </div>
                        <div class="child">
                            <div>
                                Type
                            </div>
                            <div>
                                <select name="type">
                                    @for (int i = 0; i < type_adidy.Count(); i++)
                                    {
                                        <option value="@i">@type_adidy[i]</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="child">
                            <div>
                                Mois de debut
                            </div>
                            <div>
                                <select name="moisdebut">
                                    @foreach (var item in mois)
                                    {
                                        <option value="@item.Item1">
                                            @item.Item2
                                        </option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="child">
                            <div>
                                Annee debut
                            </div>
                            <div>
                                <input type="number" name="anneedebut" placeholder="ex:2024,..." required />
                            </div>
                        </div>
                        <div class="child">
                            <div>
                                Mois fin
                            </div>
                            <div>
                                <select name="moisfin">
                                    @foreach (var item in mois)
                                    {
                                        <option value="@item.Item1">
                                            @item.Item2
                                        </option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="child">
                            <div>
                                Annee fin
                            </div>
                            <div>
                                <input type="number" name="anneefin" placeholder="ex:2024,..." required />
                            </div>
                        </div>
                        <div class="child">
                            <div>
                                Montant(Ar)
                            </div>
                            <div>
                                <input type="text" name="montant" placeholder="500..." required />
                            </div>
                        </div>
                        <div class="child">
                            <button type="submit" class="valider">Ajouter</button>
                        </div>
                    </div>
                </form>
            </div>
            <!--End of nouveau-->


            <div class="tableau row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                    <div align="center">
                        <h3>Adidy naloa</h3>
                    </div>
                    <div>
                        @if (details.PaiementAdidies != null && details.PaiementAdidies.Any())
                        {
                            <table style="width:100%">
                                <thead>
                                    <tr align="center">
                                        <th>Date Paiement</th>
                                        <th>Mois/Annee debut</th>
                                        <th>Mois/Annee fin</th>
                                        <th>Montant</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in details.PaiementAdidies)
                                    {
                                        <tr align="center">
                                            <td>@item.Dateheurepaiemet</td>
                                            <td>@item.MoisDebut/@item.AnneeDebut</td>
                                            <td>@item.MoisFin/@item.AnneeFin</td>
                                            <td>@item.Montant Ar</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <div>Tsy mbola nandoa adidy ity mpandray ity</div>
                        }
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                    <div align="center">
                        <h3>Isan-taona naloa</h3>
                    </div>
                    <div>
                        @if (details.PaiementIsantaonas != null && details.PaiementIsantaonas.Any())
                        {
                            <table style="width:100%">
                                <thead>
                                    <tr align="center">
                                        <th>Date paiement</th>
                                        <th>Annee debut</th>
                                        <th>Annee fin</th>
                                        <th>Montant</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in details.PaiementIsantaonas)
                                    {
                                        <tr align="center">
                                            <td>@item.Dateheurepaiemet</td>
                                            <td>@item.AnneeDebut</td>
                                            <td>@item.AnneeFin</td>
                                            <td>@item.Montant Ar</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <div>Tsy mbola nandoa IKT</div>
                        }
                    </div>
                </div>
            </div>
        }
        else
        {
            <div>Tsy misy io numerao mpandray io</div>
        }
</body>
</html>
<script>
    function showModif() {
        document.getElementById("details").style.display = "none";
        document.getElementById("cacher").style.display = "flex";
    }

    function hideModif() {
        document.getElementById("details").style.display = "flex";
        document.getElementById("cacher").style.display = "none";
    }
</script>