@using Modele
@{
    Mpandray? details = (Mpandray?) ViewData["details"];
    IEnumerable<Tuple<int, string>> mois = Constante.mois;
    List<string> type_adidy = Constante.type_adidy;
}
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Details de mpandray</title>
        <link rel="stylesheet" href="~/css/MpandrayDetails.css" />

    </head>
    <body>
        @if(details != null)
        {
            <div class="details" id="details">
                <div class="children">Numero Mpandray : @details.Numero</div>
                <div class="children">Anarana : @details.Anarana</div>
                <div class="children">Fanampiny : @details.Fanampiny</div>
                <div class="children">Fonenana : @details.Fonenana</div>
                <div class="children">Fokontany : @details.Fokontany</div>
                <div class="children">Numero Telephone : @details.Tel</div>
                <div class="children"><button onclick="showModif()">Modifier</button></div>
            </div>

            <div id="cacher" class="details" style="display :none">
                <form method="post" action="/Home/Details?numero=@details.Numero">
                    <div class="children">
                        Numero Mpandray :
                        <input type="number" name="numero" value="@details.Numero" />
                    </div>
                    <div class="children">
                        Anarana : 
                        <input type="text" name="anarana" value="@details.Anarana" />
                    </div>
                    <div class="children">
                        Fanampiny :
                        <input type="text" name="fanampiny" value="@details.Fanampiny" />
                    </div>
                    <div class="children"> 
                        Fonenana :
                        <input type="text" name="fonenana" value="@details.Fonenana" />
                    </div>
                    <div class="children">
                        Fokontany :
                        <input type="text" name="fokontany" value="@details.Fokontany" />
                    </div>
                    <div class="children">
                        Numero Telephone :
                        <input type="text" name="tel" value="@details.Tel" />
                    </div>
                    <div class="children">
                        <button type="submit">Modifier</button>
                    </div>
                    <div class="children">
                        <button>Annuler</button>
                    </div>
                </form>
            </div>

            <div>
                <form action="/Home/AjoutPaiement" method="post">
                    <div>
                        <input type="hidden" name="numerompandray" value="@details.Numero" />
                        <div>
                            <select name="type">
                                @for(int i=0;i<type_adidy.Count();i++)
                                {
                                    <option value="@i">@type_adidy[i]</option>
                                }
                            </select>
                        </div>
                        <div>
                            <select name="moisdebut">
                                @foreach(var item in mois)
                                {
                                    <option value="@item.Item1">
                                        @item.Item2
                                    </option>
                                }
                            </select>
                        </div>
                        <input type="number" name="anneedebut"/>
                        <div>
                            <select name="moisfin">
                                @foreach (var item in mois)
                                {
                                    <option value="@item.Item1">
                                        @item.Item2
                                    </option>
                                }
                            </select>
                        </div>
                        <input type="number" name="anneefin" />
                        <input type="text" name="montant" />
                        <button>Ajouter</button>
                    </div>
                </form>
            </div>
            if (details.PaiementAdidies != null && details.PaiementAdidies.Any())
            {
                <table>
                    <thead>
                        <tr>
                            <th>Date Paiement</th>
                            <th>Mois/Annee debut</th>
                            <th>Mois/Annee fin</th>
                            <th>Montant</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in details.PaiementAdidies)
                        {
                            <tr>
                                <td>@item.Dateheurepaiemet</td>
                                <td>@item.MoisDebut/@item.AnneeDebut</td>
                                <td>@item.MoisFin/@item.AnneeFin</td>
                                <td>@item.Montant Ar</td>

                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div>Tsy mbola nandoa adidy ity mpandray ity</div>
            }

            if (details.PaiementIsantaonas != null && details.PaiementIsantaonas.Any())
            {
                <table>
                    <thead>
                        <tr>
                            <th>Date paiement</th>
                            <th>Annee debut</th>
                            <th>Annee fin</th>
                            <th>Montant</th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in details.PaiementIsantaonas)
                        {
                            <tr>
                                <td>@item.Dateheurepaiemet</td>
                                <td>@item.AnneeDebut</td>
                                <td>@item.AnneeFin</td>
                                <td>@item.Montant Ar</td>

                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div>Tsy mbola nandoa IKT</div>
            }
        }
        else
        {
            <div>Tsy misy io numerao mpandray io</div>
        }
</body>
</html>
<script>
    function showModif() {
        document.getElementById("details").style.display = "none";
        document.getElementById("cacher").style.display = "flex";
    }

    function hideModif() {
        document.getElementById("details").style.display = "flex";
        document.getElementById("cacher").style.display = "none";
    }
</script>