@using Modele
@{
	IEnumerable<Mpandray>? liste_mpandray =(IEnumerable<Mpandray>?) ViewData["liste"] ;
	int pejy =(int) ViewData["page"]!;
	string query = (string)ViewData["query"]!;
}
<!doctype html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Lisitry ny mpandray - pejy @pejy</title>
	</head>
	<body>
		<div>
			<form action="/Home/Search" method="get">
				<div>
					<input type="text" name="tosearch" />
				</div>	
				<div>
					<button type="submit">Tadiavina</button>
				</div>
			</form>
		</div>
		<table>
			<thead>
				<tr>
					<th>Numero</th>
					<th>Anarana & Fanampiny</th>
					<th>Adiresy</th>
					<th>Telephone</th>
				</tr>
			</thead>
			<tbody>
				@if(liste_mpandray!.Any())
				{
					@foreach(var item in liste_mpandray!)
					{
						<tr>
							<td><a href="/Home/Details?numero=@item.Numero">@item.Numero</a></td>
							<td>@item.Anarana	@item.Fanampiny</td>
							<td>@item.Fonenana	@item.Fokontany</td>
							@if (item.Tel != "0")
							{
								<td>@item.Tel</td>
							}
							else
							{
								<td>Aucun</td>
							}
						</tr>
					}
				}
				else
				{
					<td colspan="4">Tsy misy mpandray intsony</td>
				}
		</tbody>
		</table>
		@if(pejy > 0)
		{
			@if(pejy >1)
			{
				@if (string.IsNullOrEmpty(query))
				{
					<a href="/Home/MpandrayListe?page=@(pejy-1)">Aoriana</a>
				}
				else
				{
					<a href="/Home/Search?page=@(pejy-1)&tosearch=@query">Aoriana</a>
				}
			}	
			@pejy	
			@if(liste_mpandray!.Any())
			{
				@if (string.IsNullOrEmpty(query))
				{
					<a href="/Home/MpandrayListe?page=@(pejy+1)">Manaraka</a>
				}
				else 
					{
						<a href="/Home/Search?page=@(pejy+1)&tosearch=@query">Manaraka</a>
					}
				}
			}
	</body>
</html>
