@using Modele
@{
    List<Tuple<int, string>> typeData = (List<Tuple<int, string>>)ViewData["type"]!;
    IEnumerable<PaiementAdidy> listes_adidy = (IEnumerable<PaiementAdidy>)ViewData["PaiementAdidy"]!;
    IEnumerable<PaiementIsantaona> listes_isantaona = (IEnumerable<PaiementIsantaona>)ViewData["PaiementIsantaona"]!;
}

<!doctype html>
<html>
    <head></head>
    <body>
    <form action="/Admin/Import" method="post" enctype="multipart/form-data">
        <p class="text-center"> Importer les fichiers </p>
        <p>
            <label>Fichier : </label>
            <div><input type="file" name="file" /></div>
        </p>
        <p>
            <select name="dataType">
                @foreach (var item in typeData)
                {
                    <option value="@item.Item1">@item.Item2</option>    
                }
            </select>
        </p>
        <div class="btn-wrapper mt-0 text-center">
            <button type="submit">Valider</button>
        </div>
    </form>
    @if (listes_adidy != null && listes_adidy.Any())
    {
        @foreach (var item in listes_adidy)
        {
            <div>@item.Dateheurepaiemet - @item.NumeroMpandray - @item.MoisDebut/@item.AnneeDebut - @item.MoisFin/@item.AnneeFin - @item.Montant - @item.Duree </div>
        }
    }
    @if (listes_isantaona != null && listes_isantaona.Any())
    {
        @foreach (var item in listes_isantaona)
        {
            <div>@item.Dateheurepaiemet - @item.NumeroMpandray - @item.AnneeDebut - @item.AnneeFin - @item.Montant </div>
        }
    }
</body>
</html>